{% extends 'base.html.twig' %}

{% block title %}
{{serie.name}} | {{ parent() }}
{% endblock %}

{% block body %}
    <div class="serie-details">
        <img src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
    </div>
    <div class="serie-details-infos">
        <h2> {{ serie.name }}</h2>
        <div>User ratings : {{ serie.vote }}</div>
        <div>Categirized in : {{ serie.genres }}</div>
        <div>Serie status : {{ serie.status }}</div>
        <div>Aired from : {{ serie.firstAirDate|date("Y-m-d") }} to {{ serie.lastAirDate|date("Y-m-d") }}</div>
        <div>{{ serie.overview|nl2br }}</div>
    </div>
{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url("{{ asset('images/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}